{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="contact-us-bg2">
        <div>
            <div class="container">
                <div class="row" style="padding-top: 90px;">
                    <div class="col-lg-6 col-md-12 col-12 mt-5">
                        <div class="clients">
                            <div>
                                <h5>Contact Us</h5>
                            </div>
                            <form id="contactForm"></form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 mt-5">
                        <figure><img src="/images/novagems-img/contact/contact-us.png" alt="contact-us"></figure>
                    </div>
                </div>
            </div>


            <div class="container ">
                <div class="col-lg-8 col-md-12 col-12 mx-auto mt-5 mb-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12  phone-fast">
                            <div style="border-radius: 15px;" class="Rectangle-4359">
                                <p class="Rectangle-col"><b>Canada</b></p>
                                <p class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/location.svg" alt="location">4300 North Fraser Way, Burnaby BC, (V5J5J8)</p>
                                <p class="Rectangle-col" style="color: #fff;"> <img class="rectangle-img" src="/images/novagems-img/contact/call.svg" alt="call">Let’s talk: 1-844-844-0038</p>
                                <P class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/email.svg" alt="email">Email: info@novage.ms</P>
                            </div>
                            <!-- <img class="Rectangle-mp" src="/images/novagems-img/Canada-map.png" alt="Canada-map"> -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 phone-fast">

                            <div style="border-radius: 15px;" class="Rectangle-4359 ">
                                <p class="Rectangle-col"><b>United States</b></p>
                                <p class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/location.svg" alt="location">10289 San Pablo Ave El Cerrito, CA 94530</p>
                                <p class="Rectangle-col" style="color: #fff;"> <img class="rectangle-img" src="/images/novagems-img/contact/call.svg" alt="call">Let’s talk: 1-844-844-0038</p>
                                <P class="Rectangle-col"> <img class="rectangle-img" src="/images/novagems-img/contact/email.svg" alt="email">Email: info@novage.ms</P>
                            </div>
                            <!-- <img class="Rectangle-mp" src="/images/novagems-img/United States.png" alt="contact-us"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>

            {{- partial "resources.html" . -}}
        </div>


    </div>



    {{end}}