{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="time-cost-analysis-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1"><span class="color5">Leverage the strength </span> of time tracking to streamline your payroll processing</h1>
                            <p>Let the system automatically create payroll reports by adding up hours worked by each employee. Reduce errors in billing and time waste of manual handling.</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Timesheet.png" alt="Timesheet">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center  mt-5">
                    <h2 class="color4">Combine Time and attendance for simplified payments</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Time&Cost-Analysis/Time&cost-analysis-1.png" alt="Time&cost-analysis-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Control Over Time Cost </h5>
                    <p class="subheading color2">Efficient employee scheduling management</p>
                    <p>Make your employees work smarter, not longer with the right resources. This is an advanced feature for a business that needs automated savings in wage management. The app sends instant alerts when an employee submits request for overtime
                        or logs in unapproved hours. It reduces cost to the company, and promotes a healthy work environment that respects work-life balance. Comes with the extra attribute to set notifications for forgotten clock outs. </p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5> Labor Forecasting </h5>
                <p class="subheading color3">Always stay prepared </p>
                <p>Discover a better way to manage your workforce. Ensure that your staff is working in the right shifts at the right time. Track time and attendance regularly to predict future labor needs effectively. Know how much time your team spends
                    on a task and make your forecasting more accurate. Streamline your shift reporting times and avoid potential delays in crucial stages of work. The feature is easy to use and can be integrated with any laptop or smartphone. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Time&Cost-Analysis/Time&cost-analysis-2.png" alt="Time&cost-analysis-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Time&Cost-Analysis/Time&cost-analysis-3.png" alt="Time&cost-analysis-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Revenue Vs Expense </h5>
                <p class="subheading color7">Can't keep track of your profits or earnings? Our system will help!</p>
                <p>You don’t have to handle monthly invoices to track your revenue because Novagems does it for you! Our system helps you keep track of the expenses and revenue generated every month. With a clear comparison chart, you can see which month
                    was more beneficial for the company when more revenue was generated. With such data handy, it gets easier to calculate the annual profits!</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}