{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="privacy-bg2">
        <div class="container">
            <div class="row align-items-center" style="padding-top: 90px;">
                <div class="col-md-7 mx-auto">
                    <figure><img src="/images/novagems-img/privacy.svg" alt="privacy"></figure>
                </div>
            </div>
        </div>


        <div class="container ">
            <div class="row ">
                <div class="col-md-10 offset-md-1 mb-5">
                    <div>
                        <p><b>Privacy Policy</b></p>
                        <p>Novagems Inc. (referred as “us”,”we” or “novagems” in document below) assures its customers and users with the security in handling their personal information. This Privacy policy will describe on how we collect data and how this
                            private information is secured with us. This privacy policy will refer its Android, iOS & Webapp product as “novagems ManagerApp” , “novagems StaffApp” , “novagems webManagerApp” , “novagems webAdminApp” as individual product
                            whenever necessary.</p>
                        <br>
                        <p>This Privacy Policy does not extend to third party websites or services. novagems is therefore not liable for their privacy policies, procedures and practices regarding the protection of personal information.</p>
                        <br>
                        <p>Visiting us at www.novage.ms website and using its Android, iOS & Webapp or when you contact us by mail , you accept the terms and conditions of this Privacy Policy.</p>
                        <br>
                        <p>novagems ManagerApp & novagems StaffApp is not accessible to general public unless we authorize a security company to do so. Please Request for a demo if you wish to check the app along a minor training.</p>
                        <br>
                        <p><b>1:</b> Our Business model with your Organisation?</p>
                        <br>
                        <p>novagems has an agreement with your company where in your information is directly held by the employer and your employer grants managers and guard access to novagems products.</p>
                        <br>
                        <P>The User information sent to our servers is then used to “schedule” a “guard” over a “site” and its GPS co-ordinates are used to determine the location of guard on duty at that site.Below is small diagram to elaborate the user
                            model. User model specifically depicts that Security company/your employer will be able to add any individual designated as “managers” in our system whose information is not directly accessible to us unless required for debugging.
                            All Managers will then have direct control over information of any site or guards which will be used for scheduling. Your employer entered an agreement with us before “they” entered any information in our system.</P>
                        <br>
                        <p><b>2:</b> The Information we collect & How we use it</p>
                        <p><b>A:</b> Information you provide & information provided by your employer into our system</p>
                        <p>A Security company when enters into an agreement with us provides there information(namely Company name, Address, Logo,phone no. & email) which is entered into the system to start a contract with us</p>
                        <p>A Manager is hence entered into our system via Company admin/your employer and information includes concerned managers name,address,profile photo,phone no. & Email .We can access its information to debug or help the user to enhance
                            the experience when a ticket is generated with us . A Manager also adds a site along with geofencing , address , site supervisor and client’s mail and contact info. Also manager can add a security guard using his personal and
                            contact details in novagems ManagerApp using guard name,photo, address , their security licence details . A Security Guard can request to update his information via the novagems StaffApp which is entered into our system by
                            their concerned manager using novagems ManagerApp or webManagerApp.</p>
                        <br>
                        <p><b>B:</b> Information Collected by novagems products (both fed by user or automatically collected)</p>
                        <p>Phone: novagems ManagerApp & StaffApp will direct the call functionality to your default phone dialer app to make outbound calls when user will click on phone call action of concerned person. We do not provide VOIP service and
                            hence this functionality was directed to handset’s dialer.There is no call recording made during this functionality and hence user is liable for any call charges on their own.</p>
                        <p>Location: novagems StaffApp will take your current coordinates repetedly when you start a duty which will be updated in our system (till the end of duty or user logout of app) to ensure tracking status to your concerned manager(which
                            managers can view in novagems ManagerApp or webManagerApp) .This service uses google location services to ensure your safety to your employer. novagems ManagerApp however do not send any coordinate to our server but it uses
                            web socket to fetch the track history maintained in our system related to status of the guard.</p>
                        <p>Camera: All novagems product need access to camera for taking pictures of person, incidents or any kind of reports to be submitted to client or company. Managers and guards require it for specific purposes while using different
                            features of the novagems system.</p>
                        <p>Storage: All novagems product need access to storage to upload any photo or file attachment in our system from the storage as an extra option. This enables users to easily access the images in memory to be attached where ever necessary.
                            We always crop and compress the pics in storage to keep the system fast for users</p>
                        <br>
                        <p><b>C:</b> How We Use this information</p>
                        <p>novagems webAdminApp creates the manager who will in turn create guards . Manager and guards can access respective info from mobile phones via respective native Android or iOS app . novagems StaffApp uses GPS location constantly
                            while on-duty and this information is recorded in our system to show the tracks to concerned managers . All the information provided by the company or user is kept under concerned managers and admins of the company using encryption
                            novagems may use your personal information to provide support and communicate with user regarding any app crash or any kind of assistance to the user. Most of information produced is used to maintain internal records of the
                            company.
                        </p>
                        <p>Your information is stored and processed in countries where we have facilities or where we provide services. By using this app , your consent to transfer information in that country which may be different from your country is given
                            to us.</p>
                        <p>novagems will maintain all user records in system as long as they are required by laws , regulations , or government orders</p>
                        <br>
                        <p><b>3:</b> novagems and its logo are owned by Novagems Inc. and are protected by British Columbia Business Incorporation Law under Registration no. BC1092935</p>
                        <br>
                        <p><b>4:</b> Payment methods :</p>
                        <br>
                        <p>No payment methods is included in novagems ManagerApp or novagems StaffApp but there is billing section in novagems webAdminApp which depicts the usage over the time-period to the company. The refund policy and payment methods
                            are written and accepted by the concerned company at time of signing of contract.</p>

                        <br>
                        <p><b>5:</b> novagems and its products are not liable for real world mishappening on site or to the users.</p>
                        <br>
                        <p><b>6:</b> GPS is not most efficient in all the Android & iOS devices but we keep on improving the methods as available to us . We do not ensure the coordinates of guard as this is dependent on the user device.</p>
                        <br>
                        <p><b>7:</b> Right to close account without cause novagems holds every right to close the user account (company account, manager account , guard account) at any given point without notice if circumstance occurs or any violation to
                            the contract is observed between both parties</p>
                        <br>
                        <p><b>8:</b> Terms remain valid even after close of agreement with your company.</p>
                        <br>
                        <p><b>9:</b> Right to Update/Change agreement:</p>
                        <p>novagems holds full right to update this privacy policy from time to time to introduce changes in technologies we use , legal requirements or any other factors. The updation date will be mentioned next to the title of this page.
                            To revoke your access from the App , user require to connect with concerned manager in hierarchy to stop the services. If there is any major update in privacy policy , then we are obliged to intimate the user by mail as per
                            law .</p>
                        <br>
                        <p><b>10:</b> Third party information exchange:</p>
                        <p>No information is shared with any third party except within the novagems trust and development modules. No third party will have access to the application without the credentials. Data is not visible from one company in contract
                            with us to another company.</p>
                        <br>
                        <p><b>11:</b> User Rights:</p>
                        <p>Users of all our products are always kept in mind in making our software to use as easy as possible. A similar training sessions enhance users to use the product . At times , we use online tutorials to impart the knowledge of our
                            product to other. Any queries are always welcome for all users.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}