{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="clock-in-out-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1">Protect Your Business from <span class="color5">Time Theft </span>. Add Convenience to Your Operations</h1>
                            <p>Staff time clock to quickly access attendance information, manage employees and stay compliant with labor law.</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/clock-in-out/For-Clockin-Out-3.png" alt="For-Clockin-Out-3">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h2 class="color4">Hassle free employee and shift management</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/clock-in-out/For-Clockin-Out-1.png" alt="For-Clockin-Out-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Self Scheduling</h5>
                    <p class="subheading color2">Improve employee satisfaction & become a better employer</p>
                    <p>Give your staff the independence of managing their own schedule. Increase their productivity and reduce sick days. Self-scheduling takes lesser time to complete a schedule and brings a healthy balance between work and home life. Health
                        care institutions, supermarkets, transport authorities, hospitality, manufacturing, services sector, and any other place where people work 24 hours a day, this feature manages schedules with flexibility. The hours can be tracked
                        from laptop, tablet, or smartphone and attendance of employee can be viewed anytime.</p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 ">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Time Tracking</h5>
                <p class="subheading color3">Make your staff more productive</p>
                <p>An easily controllable system that track work hours and reports overtime. Say goodbye to manual record maintenance of employee attendance. It keeps the accurate data of actual number of hours worked by each employee and helps to calculate
                    the wages. The automatic process of tracking can be combined with remote clock-in options to give flexibility of working over multiple locations. Ideal way to handle the workforce that works in shifts. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/clock-in-out/For-Clockin-Out-2.png" alt="For-Clockin-Out-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/clock-in-out/For-Clockin-Out-3.png" alt="For-Clockin-Out-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Time Sheet for Payroll</h5>
                <p class="subheading color7">Generate accurate bills & improve project management</p>
                <p>Use this advanced feature for automatic daily maintenance of employees’ timesheets for payroll. Get details on working hours, leaves, and adjustments of every staff member and easily calculate their wages. Minimize the risk of manual error
                    or faulty processing of salaries. Forecast the project requirements by looking at the trends and save big on overtime. You can also customize the time sheets to monitor time spent on various tasks by staff and keep your projects on
                    track. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}