{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="task-mangement-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1">Manage <span class="color5">Everything </span> from A Single Place. <span class="color5">Improve Partnerships</span> Between Teams/Departments</h1>
                            <p>Manage team tasks, track staff time, and increase collaboration within different departments. Let everyone complete tasks efficiently without missing deadlines.</p>
                        </div>
                        <div class="col-md-12  my-5">
                            <div class="row ">
                                <div class="col-lg-9 col-md-11 col-12 input-get-free">
                                    <div class="footer-newsletter">
                                        <form id="get-started-for-free">
                                            <input type="email" id="email" name="email" placeholder="Enter your email address">
                                            <input class="home-btn" type="submit" value="Get Started for Free">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-1 col-12"></div>
                            </div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Task-and-post-order.png" alt="Task-and-post-order">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h2 class="color4">No more mismanagement of resources.</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-1.png" alt="Task-Management-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Timed Tasks & checklist</h5>
                    <p class="subheading color2">Scheduling checklists to organize and manage staff </p>
                    <p>An effective use of technology to manage efficient task execution, organize and manage teams. This central integration program creates checklists for queuing, scheduling, and delegation. It saves all the tasks that your team performs
                        while at work so that they don’t have to manually track their progress. The checklists keep them focused on completing the scheduled tasks and sends automatic notifications to the supervisor. Significantly reduce losses by ensuring
                        consistency and completeness in carrying out repetitive tasks. </p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Automatic Task Confirmation</h5>
                <p class="subheading color3">Enhance productivity by improving the workflow</p>
                <p>Automated task confirmation reduces scheduling conflicts and speeds up the work allocation. It optimizes the operations by improving workflow and increases organizational capacity. The instinctive task scheduler trims down admin reporting
                    time by over 70%. Supervisors can follow status of projects in the real time without interrupting staff. It adds additional flexibility to the work schedule, reduce overtime and minimize absences. Also improves staff satisfaction by
                    putting them in control of their work allocation. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-2.png" alt="Task-Management-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-3.png" alt="Task-Management-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Picture & Video Proofs</h5>
                <p class="subheading color7">Take charge of project tasks</p>
                <p>Gets you proofs for additional control. Boosts your team’s performance by fixing accountability and ensures tasks are done on time. Remote monitoring and management improve overall security and decreases the value of ownership. The data
                    is uploaded in the real time to give a better response to context-driven work. The neat, well-organized interface helps get rid of scores of paperwork. Results in better decision-making and improved issue response to make your brand
                    even more trustworthy and reliable in the eyes of prospective clients.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Task Reports</h5>
                <p class="subheading color2">Information distribution for better decisioning</p>
                <p>Translate sets of key metrics into actionable reports. No more wasting of time in compiling data from multiple excels, which not only consumes a lot of time but is also error prone. Present weekly, monthly, yearly reports in minutes to
                    analyze productivity. Monitor incidents and activities, find trends, and get real-time insights to improvise. The feature does not require any tech knowledge to manage the processes. The Novagems platform is streamlined for use by
                    individuals with no technical experience.</p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Dashboard_Analytics">
                            <input type="email" id="Dashboard-Analytics" name="Dashboard-Analytics" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Task&Post-order/Task-Management-3.png" alt="Task-Management-3"></figure>
            </div>
        </div>
    </div>
    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}