{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="Dashboard-Analytics-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1">See the reports in <span class="color5">meaningful formats </span>for <span class="color5">quick analysis </span> . Take data-backed decisions. </h1>
                            <p>Daily, weekly, monthly job summaries condensed into meaningful insights. Get every kind of report on your smartphone. Easily share data with clients.</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Dashboard-Analytics.png" alt="Dashboard-Analytics">
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row align-items-center">
                <div class="col-md-12 text-center mt-5">
                    <h2 class="color4">Increase efficiency of your staff</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Dashboard-Analytics/DashboardAnalytics-1.png" alt="DashboardAnalytics-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Multiple Dashboards</h5>
                    <p class="subheading color2">Visualize data for better understanding</p>
                    <p>Use an amalgamation of graphs, pies, and tables to manage data in a visual format. Get enhanced visibility of how and where your resources are getting used. Save your time by finding the best ways to increase staff’s efficiency. Analyze
                        data to identify key performance indicators and stay in control of your inventory. The real-time analytics gives you the tools to manage demand and supply and forecast the future trends. Quick dashboards lead to better decision
                        making, which in turn increases profits.</p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="Dashboard_Analytics">
                                <input type="email" id="Dashboard-Analytics" name="Dashboard-Analytics" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Share Client Dashboard</h5>
                <p class="subheading color3">Show them how their interests being protected</p>
                <p>Report and present data to each of your clients with ease. Visual medium gives them the power to analyze data quickly and meticulously. Accurate insights on current security management tells them that right efforts are being made to protect
                    their interests. By seeing the big picture, they can forecast their inventory and make informed decisions for future. It is also a great way to understand the ROI and improve gaps in their processes. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="GPS_Tracking">
                            <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Dashboard-Analytics/DashboardAnalytics-2.png" alt="DashboardAnalytics-2"></figure>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Dashboard-Analytics/DashboardAnalytics-3.png" alt="DashboardAnalytics-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Operations Analytics for Smart Business Decisions</h5>
                <p class="subheading color7">Business intelligence that leads to profits</p>
                <p>The feature combines interactive elements like filters to produce an easy-to-understand snapshot overview. It increases a business’s efficiency by showing everything on a single screen. It gives you access to multiple data sources in a
                    single interface. In addition to giving the unbiased view of every department’s performance, it also forms the foundation of further improvements. The business intelligence is gathered meticulously from multiple sources and adds accountability
                    to the work done by various teams in the field. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Security Analytics to Grow Sales</h5>
                <p class="subheading color2">Data that helps you grow your business</p>
                <p>When you know what is and isn’t working for your business, you can take immediate steps to rectify it. The security analytics shows you every little detail like how often your guards were late in clocking in, whether there was any delay
                    in responding to a SOS situation, if someone strayed from geo fencing on regular basis, or how much workforce can be allotted to the next assignment. Key information about what your people are doing hour by hour, day by day brings
                    more accountability and strength into your business.</p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Dashboard-Analytics/DashboardAnalytics-4.png" alt="DashboardAnalytics-4"></figure>
            </div>
        </div>
    </div>
    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>
    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}