{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="Cleaning-Company-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top">
                <div class="col-lg-7 col-md-7 col-12 ">
                    <div>
                        <div>
                            <h1 class="hero-h1"> Send Work Orders in Real-Time. Get the work done before your client knows it!
                            </h1>
                            <p>Don’t waste time trying to reach out to the cleaners. Send work orders instantly and get the job done fast! </p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/cleaning-company/cleaning-company.png" alt="cleaning-company">
                </div>
            </div>
        </div>


        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center mt-5">
                    <h2 class="color4">Don’t let the to-dos grow lengthy! Strike it off the list by sending instant work orders.
                    </h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/cleaning-company/Assign-Work-Orders-on-the-Go.png" alt="Assign-Work-Orders-on-the-Go"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Assign Work Orders on the Go</h5>
                    <p class="subheading color2">Say goodbye to age-old briefing and assignment systems!</p>
                    <p>Are you still gathering your workforce and conducting meetings for briefing? Quit the old and slow methods and get it done on-the-go! Assign word orders instantly with our cleaning services management system. Find the available cleaner
                        nearest to the designated site and assign work right away! </p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="custom_incident_report">
                                <input type="email" id="custom-incident-report" name="custom-incident-report" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h5>Timely Work Management</h5>
                <p class="subheading color3">Don’t let any task be left behind. Get it done superfast! </p>
                <p>Don’t let work pile up! Delayed jobs and ignored tasks can bring a bad name to your cleaning services. Manage work timely with our work order management feature. Reach out to the cleaners fast and assign them work with just one touch.
                    With fast communication and work order management on-the-go, things get simpler and easier!</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Check_Point_Tours">
                            <input type="email" id="Check-Point-Tours" name="Check-Point-Tours" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/cleaning-company/Timely-Work-Management.png" alt="Timely-Work-Management"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/cleaning-company/Automated-Workflows.png" alt="Automated-Workflows"></figure>
            </div>
            <div class="col-md-6">
                <h5>Automated Workflows</h5>
                <p class="subheading color7">Automated task assignments - a sigh of relief for the supervisors!</p>
                <p>Don’t want to be hooked to the system all day, managing work? Well, automate things! Our system allows managers to automate the workflows. Enter the data and time once and allocate action items to individual cleaners or janitors. The work
                    will be assigned automatically at the right time. So, it’s easy, fast, and hassle-free! </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="GPS_Tracking">
                            <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Easy templates and Checklists</h5>
                <p class="subheading color2">Manage work fast and save some time for a cup of coffee!</p>
                <p>Does managing work and creating work orders everyday seem daunting? With easy templates and checklists, it gets easier to manage work with our system. No need to create the same work order every day. Just copy the previous one and use
                    it for weeks and months! Save time and keep things simple each day!
                </p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/cleaning-company/Easy-templates-and-Checklists.png" alt="Easy-templates-and-Checklists"></figure>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="container-fluid powerup">
            <div class="row ">
                <div class="col-md-12 text-center">
                    <div class="col-sm-6 mx-auto">
                        <div class="powerup2">
                            <h3 class="Start-being">Power up with <br> Workforce Management System </h3>
                            <p class="get-Started">Cleaning Services Task Management</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}