{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="Cleaning-Company-bg1">
        <div class="container example">
            <div class="row header-subwrapper-top">
                <div class="col-lg-7 col-md-7 col-12 ">
                    <div>
                        <div>
                            <h1 class="hero-h1">Say goodbye to paper log sheets! Embrace the digital side of log keeping!.
                            </h1>
                            <p>Our Feature-Packed Cleaning Services Management System is here to save the day!
                            </p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/cleaning-company/cleaning-company.png" alt="cleaning-company">
                </div>
            </div>
        </div>


        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center mt-5">
                    <h2 class="color4">Digital Log Sheets for a better recording and reporting experience.
                    </h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/cleaning-company/Paper-to-Digital-Cleaning-Log.png" alt="Paper-to-Digital-Cleaning-Log"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Paper to Digital Cleaning Log</h5>
                    <p class="subheading color2">Everything is turning digital and so are the paper log sheets!</p>
                    <p>Tired of the age-old log keeping methods? Bid adieu to paper log sheets and let your cleaners hop on the latest tech. Our digital cleaning log not only helps managers create an all-encompassing log sheet but also helps cleaners update
                        it by just a tap. They can upload pictures, report problems, and get instant help in real-time. </p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="custom_incident_report">
                                <input type="email" id="custom-incident-report" name="custom-incident-report" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h5>Real-Time information</h5>
                <p class="subheading color3">Tracking and reporting made easy with real-time features!
                </p>
                <p>Keep track of your cleaners with the latest GPS tracking features and help them report in real-time with our cleaning services management system. The system helps you keep track of where each cleaner is deployed, what work is assigned
                    to them, and whether they have reached the site or not. Get real-time updates about work being done and completed by the cleaners. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Check_Point_Tours">
                            <input type="email" id="Check-Point-Tours" name="Check-Point-Tours" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/cleaning-company/Real-Time-information.png" alt="Real-Time-information"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/cleaning-company/Problem-Reporting.png" alt="Problem-Reporting"></figure>
            </div>
            <div class="col-md-6">
                <h5>Problem Reporting</h5>
                <p class="subheading color7">In case of problems or emergencies, help is just a tap away! </p>
                <p>Cleaners facing problems doing a job? Send help instantly! Our management system helps the cleaners report problems and send notifications to the managers. So, help can be sent without wasting any time. The cleaners or janitors can attach
                    photos or send videos to report a problem and ask for help. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="GPS_Tracking">
                            <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Analyze Problem Data</h5>
                <p class="subheading color2">Take a look at the problem data anytime, and save it for future reports!
                </p>
                <p>Once problems are reported by the janitors and cleaners, it is saved in the history of the system. The data can be used anytime to send a report to the client or create monthly or weekly reports. The managers can access this data anytime
                    they want to proceed with the situation further.
                </p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/cleaning-company/Analyze-Problem-Data.png" alt="Analyze-Problem-Data"></figure>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <div class="container-fluid powerup">
            <div class="row ">
                <div class="col-md-12 text-center">
                    <div class="col-sm-6 mx-auto">
                        <div class="powerup2">
                            <h3 class="Start-being">Power up with <br> Workforce Management System </h3>
                            <p class="get-Started">Cleaning Services Task Management</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}