{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="mobile-patrol-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1">Keeps the risk of theft, <span class="color5">vandalism, </span>trespassing and other nuisances under control. </h1>
                            <p>Make it easy to deploy security officers at the right intervals to ensure adherence to safety protocols. Get automatic alarms in case of a breach.</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Mobile-Patrol.png" alt="Mobile-Patrol">
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row align-items-center">
                <div class="col-md-12 key-schedule text-center">
                    <h2 class="color4">A cost-effective way to survey places</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Mobile-Patrol/MobilePatrol-1.png" alt="MobilePatrol-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Schedule Fixed Rounds or Time</h5>
                    <p class="subheading color2">Flexible ways to schedule Mobile Patrol</p>
                    <p>A good security is a preventive security. Novagems gives you the feature of scheduling the time or number of rounds to deter or mitigate undesired actions or events at the place/event under protection. The QR based technology keeps
                        an eye on guards’ tours and sends automatic alerts for missed checkpoints. It helps you to align the clocked in time of the guards and your resources by fitting a specified timeframe and employ available resources with the right
                        skills. </p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Multi Site Scheduling</h5>
                <p class="subheading color3">Set schedules for multiple sites</p>
                <p>Increase the area to monitor with this latest feature. Get a higher security level for your assets by scheduling patrols at different locations from the single page. This smart way of patrolling sends you updates in the real time, offering
                    you multiple benefits like accountability, elimination of unreliable information, and a paper-less way to document every little detail. One system, forever yours to use. Instead of worrying whether your officers are truly guarding
                    the property or event, see them doing it accurately from your office or home. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Mobile-Patrol/MobilePatrol-2.png" alt="MobilePatrol-2"></figure>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Mobile-Patrol/MobilePatrol-3.png" alt="MobilePatrol-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>GPS backed Clock In/Out</h5>
                <p class="subheading color7">Ensure officers clock-in on patrol sites</p>
                <p> A high-tech tool that uses GPS tracking to authorize clock in/clock out by your security officers. Reduces the need to manually maintain everyone’s attendance. Comes with the option of creating rules and alerts if someone clocks in late
                    or leaves work early. GPS shows the exact location of every guard in the map, giving the supervisor an absolute visibility of everyone in the field. Improves customer response time and adds an extra layer of accountability.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Optimise Patrol Routes</h5>
                <p class="subheading color2">Manage active, random, and directed patrols easily</p>
                <p>Use the latest technology to suggest the best routes for your patrolling party. Protect property and lives, prevent harm to your assets, and improve the level of your service. Adjust the routes by pruning the total patrolling distance,
                    therefore reducing the costs while respecting all constraints. The feature uses dynamic information to suggest shortest and safest way to destination after considering the response time and frequency of patrols. It also enforces a
                    positional balance among all the patrolling vehicles in the vicinity. </p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Chat_mobile">
                            <input type="email" id="Chat-mobile" name="Chat-mobile" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2" id="btnsunscribe">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/features1.png" alt="features1"></figure>
            </div>
        </div>
    </div>
    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}