{{if .IsHome }}
<!-- Business Access Section -->
<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5 mt-5 text-center">
                <p class="subheading color4 tex-h">HOW IT BENIFITS YOUR COMPANY?</p>
                <h2>We make your <span class="color5">clients more happy </span></h2>
            </div>
        </div>

        <div class="card-deck">
            <div class="card card-clients card-iped">
                <div class="card-body card-body-ipad text-center">
                    <img src='{{"/images/novagems-img/reporting.svg" | absURL}} ' alt="Down-Arrow">
                    <h2 class="clients-h2">80%</h2>
                    <p>Reduce reporting work</p>

                </div>
            </div>
            <div class="card card-clients card-iped">
                <div class="card-body card-body-ipad text-center">
                    <img src='{{"/images/novagems-img/scheduling.svg" | absURL }}' alt="Down-Arrow">

                    <h2 class="clients-h2">50%
                    </h2>
                    <p>Reduce scheduling hours</p>

                </div>
            </div>
            <div class="card card-clients card-iped">
                <div class="card-body card-body-ipad text-center">
                    <img src='{{"/images/novagems-img/cost.svg" | absURL}}' alt="">

                    <h2 class="clients-h2">11%
                    </h2>
                    <p>Reduce labour cost</p>

                </div>
            </div>

            <div class="card card-clients card-iped">
                <div class="card-body card-body-ipad text-center">
                    <img src='{{"/images/novagems-img/customer.svg" | absURL}}' alt="">

                    <h2 class="clients-customer">20%
                    </h2>
                    <p>Increased customer</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Business Access Section Ends -->
{{end}} {{if eq .Type "workforce-management-for-security-company" }}
<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center key-schedule">
                <p class="subheading color3">Features</p>
                <h2>Scheduling & Management</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/scheduling">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Scheduling-e.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Scheduling</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/task-mangement">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/task&Post.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Task & Post </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/gps-geofence">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Scheduling-e.svg"  | absURL}}' alt=""></figure>
                        <p class="clients-p">GPS Geofence</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/clock-in-out">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Clock.svg"  | absURL}}' alt=""></figure>
                        <p class="clients-p">Clock In/Out</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/time-cost-analysis">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Timesheet.svg"  | absURL}}' alt=""></figure>
                        <p class="clients-p">Timesheet</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/chat">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Chat.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Chat</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 header-tex text-center">
                <h2>Customised for Security Companies</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/custom-incident-report">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Timesheet.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Custom Incident
                            <br>Reports</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/checkpoint-tours">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/checkpoint.svg" | absURL}}' alt="checkpoint"></figure>
                        <p class="clients-p">Checkpoint
                            <br>Tours</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/gps-tracking">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/GPS-Tracking.svg" | absURL}}' alt="GPS-Tracking"></figure>
                        <p class="clients-p">GPS
                            <br>Tracking</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/mobile-patrol">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Mobile-Patrol.svg" | absURL}}' alt="Mobile-Patrol"></figure>
                        <p class="clients-p">Mobile
                            <br>Patrol</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/smart-response">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Smart-Response.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Smart
                            <br>Response</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/dashboard-analytics">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Dashboard.svg"  | absURL}}' alt="Dashboard"></figure>
                        <p class="clients-p">Dashboard
                            <br> Analytics </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
{{end}}