{{if .IsHome }}
<!-- Home Section -->
<div class="cus-bg cus-dg-phone">
    <div class="container example">
        <div class="row header-subwrapper-top">
            <div class="col-lg-6 col-md-7 col-12">
                <div>
                    <div>
                        <div class="mb-3">
                            <h1><span class="text-type-animation">Scheduling & Workforce Management System for <br class="header-br">
                              <span
                                class="txt-rotate"
                                data-period="1500"
                                data-rotate='[ "Security Guard", "Facility Management", "Alarm Monitoring", "Restaurant"]'>
                            </span> <br>Industry
                                </span>
                            </h1>
                        </div>
                        <!-- <h1 class="hero-h1">Scheduling & Workforce Management System for <span class="color5">Security Guard </span>Industry</h1> -->
                        <p>Smart Automation Software for Employee Scheduling, Time & Attendance, Team Chat, GPS Tracking, Tasks & Post Orders, Dashboard Analytics, and more</p>
                    </div>
                    <div class="my-5">
                        <div class="footer-newsletter">
                            <form id="get-started-for-free">
                                <input type="email" id="email" name="email" placeholder="Enter your email address">
                                <input class="home-btn" type="submit" value="Get Started for Free">
                            </form>
                        </div>
                    </div>
                    <div class="mt-4 mb-2">
                        {{- partial "clients.html" . -}}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-5 col-12 p-0 img-iped-head all-img-left">
                <img src='{{"/images/novagems-img/novagems-head.svg" | absURL}}' alt="novagems-head">
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card-phone ">
            <div class="row">
                <div class="col-lg-4 creativecol-phone">
                    <div class=" creativecol h-100">
                        <div>
                            <p class="everyone-p">Employee scheduling & time tracking for</p>
                            <p class="everyone-p color3">Everyone</p>
                            <hr>
                            <br>
                        </div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/Everyone.svg" | absURL}}' alt="Everyone"></figure>
                        <h4 style="margin-bottom: 20px;">Scheduling & Tracking</h4>
                        <p>Bring smoothness & efficiency in your operations. Ensure fairness at every step.
                        </p>
                        <div class=" transparentbtn-btn hvr-icon-wobble-horizontal">
                            <a href="/scheduling-management-for-everyone" class="btn-arrow transparentbtn">Explore More <img class="fa fa-arrow-right hvr-icon arrow-icon" src='{{"/images/novagems-img/Arrow.svg" | absURL}}' alt="Arrow"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 creativecol-phone">
                    <div class="creativecol h-100">
                        <div>
                            <p class="everyone-p">Complete Workforce management for</p>
                            <p class="everyone-p color2">Security Guard companies</p>
                            <hr>
                            <br>
                        </div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/Security.svg" | absURL}}' alt="Security"></figure>
                        <h4 style="margin-bottom: 20px;">Security Company Software</h4>
                        <p>Fortify your security management business. Track & manage security staff from smartphone.
                        </p>
                        <div class="transparentbtn-btn hvr-icon-wobble-horizontal">
                            <a href="/workforce-management-for-security-company" class="btn-arrow transparentbtn">Explore More <img class="fa fa-arrow-right hvr-icon arrow-icon" src='{{"/images/novagems-img/Arrow.svg" | absURL}}' alt="Arrow"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 creativecol-phone">
                    <div class="creativecol h-100">
                        <div>
                            <p class="everyone-p">Complete Workforce management for</p>
                            <p class="everyone-p color4">Cleaning Companies
                            </p>
                            <hr>
                            <br>
                        </div>
                        <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/cleaning-company/cleaning-company.svg" | absURL}}' alt="cleaning-company"></figure>
                        <h4 style="margin-bottom: 20px;">Cleaning company software
                        </h4>
                        <p>A feature-rich Janitor Management System to the rescue! Schedule, assign, and chat on-the-go!

                        </p>
                        <div class="transparentbtn-btn hvr-icon-wobble-horizontal">
                            <a href="/cleaning-company" class="btn-arrow transparentbtn">Explore More <img class="fa fa-arrow-right hvr-icon arrow-icon" src='{{"/images/novagems-img/Arrow.svg" | absURL}}' alt="Arrow"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Home Section -->
<div class="clearfix"></div>
{{end}} {{if eq .Type "scheduling-management-for-everyone" }}
<!-- schedule Section -->

<div class="cus-bg cus-dg-phone">
    <div class="container example">
        <div class="row header-subwrapper-top">
            <div class="col-lg-6 col-md-7 col-12 ">
                <div>
                    <div>
                        <h2 class="hero-h1">Schedule Your Employees &<br> <span class="color5">Track + Validate </span>their Work<br> Instantly</h2>
                        <p>Smart Automation Software for Employee Scheduling, Time & Attendance, Team Chat, GPS Tracking, Tasks & Post Orders, Dashboard Analytics, and more</p>
                    </div>
                    <div class="my-5">
                        <div class="footer-newsletter">
                            <form id="get-started-for-free">
                                <input type="email" id="email" name="email" placeholder="Enter your email address">
                                <input class="home-btn" type="submit" value="Get Started for Free">
                            </form>
                        </div>
                    </div>
                    <div class="mt-5 mb-2">
                        {{- partial "clients.html" . -}}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-5 col-12 p-md-0 img-iped-head all-img-left">
                <div class="scheduling-management-for-everyone">
                    <img src='{{"/images/novagems-img/Schedule-main.svg" | absURL}}' alt="Schedule-main">
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="col-md-12 text-center key-schedule">
            <p class="subheading color3">Key Features</p>
            <h1 class="hero-h1">Workforce Management Solutions </h1>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/scheduling">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Scheduling-e.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Scheduling</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center ">
                    <a href="/task-mangement">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/task&Post.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Task & Post </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/gps-geofence">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Scheduling-e.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">GPS Geofence</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/clock-in-out">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Clock.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Clock In/Out</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/time-cost-analysis">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Timesheet.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Timesheet</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mt-3">
                <div class="clients text-center">
                    <a href="/chat">
                        <figure style="margin-bottom: 20px;"><img class="key-img" src='{{"/images/novagems-img/Chat.svg" | absURL}}' alt=""></figure>
                        <p class="clients-p">Chat</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- schedule Section -->
<div class="clearfix"></div>
{{end}} {{if eq .Type "workforce-management-for-security-company" }}
<!-- schedule Section -->
<div class="cus-bg cus-dg-phone">
    <div class="container example">
        <div class="row header-subwrapper-top">
            <div class="col-lg-6 col-md-7 col-12">
                <!-- <div class="container-left"> -->
                <div>

                    <div>
                        <h2 class="hero-h1">Manage <span class="color5">Security Officers</span>. Validate their Work & Send Reports to<br> Clients Instantly</h2>
                        <p>Smart Automation Software for Employee Scheduling, Time & Attendance, Team Chat, GPS Tracking, Tasks & Post Orders, Dashboard Analytics, and more</p>
                    </div>
                    <div class="my-5">
                        <div class="footer-newsletter">
                            <form id="get-started-for-free">
                                <input type="email" id="email" name="email" placeholder="Enter your email address">
                                <input class="home-btn" type="submit" value="Get Started for Free">
                            </form>
                        </div>
                    </div>
                    <div class="mt-5 mb-2">
                        {{- partial "clients.html" . -}}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-5 col-12 p-md-0 img-iped-head all-img-left">
                <div class="scheduling-management-for-everyone">
                    <img src='{{"/images/novagems-img/Schedule-main.svg" | absURL}}' alt="Schedule-main">
                </div>
            </div>
            <div class="col-md-12 text-center key-schedule ">
                <img type="button" class="video-btn " data-toggle="modal" data-src="https://www.youtube.com/embed/6ckfPIQaQYQ/" data-target="#myModal" src='{{"/images/novagems-img/View-demo-btn.svg" | absURL}}' alt="view-demo">
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row d-flex row-eq-height">
            <div class="col-md-12 text-center">
                <h1 class="mb-5 hero-h1">Top-Notch Security Guard Management System</h1>
            </div>
            <div class="col-lg-4 creativecol-phone">
                <div class=" creativecol h-100">
                    <div>
                        <p class="everyone-p color2">Simplify your private security business</p>
                        <hr>
                        <br>
                    </div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/guard-Management.png" | absURL}}' alt="guard-Management"></figure>
                    <h4 style="margin-bottom: 20px;">Guard Management</h4>
                    <p>Advance solution to monitor performance of security personnel and mobile patrol teams.
                    </p>
                    <div class=" transparentbtn-btn hvr-icon-wobble-horizontal">
                        <a href="#reporting"><img src='{{"/images/novagems-img/down-double-arrow.svg" | absURL}}' alt="down-double-arrow"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 creativecol-phone">
                <div class="creativecol h-100">
                    <div>
                        <p class="everyone-p color7">Smart security solution on your fingertips</p>
                        <hr>
                        <br>
                    </div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/mobile-Patrol.png" | absURL}}' alt="mobile-Patrol"></figure>
                    <h4 style="margin-bottom: 20px;">Mobile Patrol</h4>
                    <p>Solidify patrolling operations by managing your security officers efficiently.
                    </p>
                    <div class="transparentbtn-btn hvr-icon-wobble-horizontal">
                        <a href="/mobile-patrol" class="btn-arrow transparentbtn">Explore More <img class="fa fa-arrow-right hvr-icon arrow-icon" src='{{"/images/novagems-img/Arrow.svg" | absURL}}' alt="Arrow"></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="creativecol h-100">
                    <div>
                        <p class="everyone-p color3">Reduce time to respond to incidents</p>
                        <hr>
                        <br>
                    </div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/smart-Response.png" | absURL}}' alt="smart-Response"></figure>
                    <h4 style="margin-bottom: 20px;">Smart Response (Dispatch)</h4>
                    <p>Reduce the time taken to respond to unwarranted incidents. Send automatic alerts.
                    </p>
                    <div class="transparentbtn-btn hvr-icon-wobble-horizontal">
                        <a href="/smart-response" class="btn-arrow transparentbtn">Explore More <img class="fa fa-arrow-right hvr-icon arrow-icon" src='{{"/images/novagems-img/Arrow.svg" | absURL}}' alt="Arrow"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<!-- schedule Section -->
<div class="clearfix"></div>
{{end}}