<!-- key to success -->
<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5 mt-5 text-center">
                <p class="subheading tex-h color2">WHY THIS SOFTWARE</p>
                <h2> <span class="color2">Reliable</span> <span class="color6">efficient</span> <span class="color7">To be point</span> </h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-7">
                <div class="mang-card">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <div class="key-card">
                                <img class="reliable-point" src='{{"/images/novagems-img/mobile-app.svg" | absURL}}' alt="">
                                <h5>Manage from mobile app</h5>
                                <p>Manage access, authorizations and schedules in a more precise and flexible way, with the option to customize login page according to your needs.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 phone-fast">
                            <div class="key-card">
                                <img class="reliable-point" src='{{"/images/novagems-img/Settings.svg" | absURL}}' alt="">
                                <h5>Smart automation</h5>
                                <p>Use technology to automate your workflow and manage your staff. A convenient set up through which you can easily view, track, report and check the analytics. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="key-card">
                                <img class="reliable-point" src='{{"/images/novagems-img/User-Experience.svg" | absURL}}' alt="">
                                <h5>Best user experience</h5>
                                <p>Easily accommodate a manage sudden changes in the requirements of your clients with easy clicks. <br><br></p>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 phone-fast">
                            <div class="key-card">
                                <img class="reliable-point" src='{{"/images/novagems-img/Manage-from.svg" | absURL}}' alt="">
                                <h5>Free bug support in the support period</h5>
                                <p>Connect with us anytime and get your issues resolved within hours. We are available 24X7.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-app-t mt-5 mb-5">
                    {{range .Site.Params.apps}}
                    <a href="{{.url}}" target="_blank"><img class="btn-app" src="{{.image  | absURL}}" alt="{{.title}}"></a>
                    {{end}}
                </div>
                <!-- <div class="mb-4 mt-5 hvr-icon-wobble-horizontal">
                    <a href="/" class="btn-arrow transparentbtn">Read More <img class="fa fa-arrow-right hvr-icon arrow-icon" src="/images/novagems-img/Arrow.svg" alt="Arrow"></a>
                </div> -->
            </div>
            <div class="col-lg-5 text-center phone-fast">
                <img src='{{"/images/novagems-img/reliable-Efficient.png" | absURL}}' alt="reliable-Efficient">
            </div>
        </div>
    </div>
</div>
<!-- key to success section Ends -->