<!-- Why Choose -->
<div class="mt-5 mb-4">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 mb-5 text-center novagems-ph">
                    <p class="subheading tex-h color6">Blog</p>
                    <h2>From our awesome Blogs</h2>
                </div>
            </div>
            <div class="card-deck">
                <div class="card blog-card-boot blog-shadow">
                    <figure><img class="purple-img" src='{{"/images/novagems-img/blogs/NB37.png" | absURL}}' alt="NB37"></figure>
                    <div class="card-body choosecontent hvr-icon-wobble-horizontal">
                        <p style="text-align: initial; font-size: 12px;margin-bottom:15px; color: #8e9096;"><b>October 7, 2021</b> </p>
                        <h4 style="margin-bottom:15px;">5 Common Problems You Can Solve With A Guard Tour System</h4>
                        <p style="text-align: initial;margin-bottom:15px;">Businesses rely heavily on technology these days, and security companies are no exception </p>
                        <a href="/5-common-problems-you-can-solve-with-a-guard-tour-system" class="color5">Read More <img class="fa fa-arrow-right hvr-icon " src='{{"/images/novagems-img/read-more-arrow.svg" | absURL}}' alt="read-more-arrow"></a>
                    </div>
                </div>

                <div class="card blog-card-boot blog-shadow">
                    <figure><img class="purple-img" src='{{"/images/novagems-img/blogs/NB34.png" | absURL}}' alt="NB34"></figure>
                    <div class="card-body choosecontent hvr-icon-wobble-horizontal">
                        <p style="text-align: initial; font-size: 12px;margin-bottom:15px; color: #8e9096;"><b>October 1, 2021</b></p>
                        <h4 style="margin-bottom:15px;">Mobile Security Patrols: 8 Benefits You Can Recognise Right Now</h4>
                        <p class="hvr-icon-wobble-horizontal" style="text-align: initial;margin-bottom:15px;">As technology advanced, businesses and organizations started relying on</p>
                        <a href="/mobile-security-patrols-8-benefits-you-can-recognise-right-now" class="color5">Read More <img class="fa fa-arrow-right hvr-icon " src='{{"/images/novagems-img/read-more-arrow.svg" | absURL}}' alt="read-more-arrow"></a>
                    </div>
                </div>

                <div class="card blog-card-boot blog-shadow">
                    <figure><img class="purple-img" src='{{"/images/novagems-img/blogs/BN20-1-768x489.png" | absURL}}' alt="BN20-1-768x489"></figure>
                    <div class="card-body choosecontent hvr-icon-wobble-horizontal">
                        <p style="text-align: initial; font-size: 12px;margin-bottom:15px; color: #8e9096;"><b>September 16, 2021</b></p>
                        <h4 style="margin-bottom:15px;">How to Monitor the Performance of Your Security Guards</h4>
                        <p class="hvr-icon-wobble-horizontal" style="text-align: initial;margin-bottom:15px;">Delivering unerring security services is like a constant uphill battle</p>
                        <a href="/how-to-monitor-the-performance-of-your-security-guards" class="color5">Read More <img class="fa fa-arrow-right hvr-icon " src='{{"/images/novagems-img/read-more-arrow.svg" | absURL}}' alt="read-more-arrow"></a>
                    </div>
                </div>
            </div>


            <div class="row mt-5 mb-5">
                <div class="col-md-12 text-center my-5 hvr-icon-wobble-horizontal">
                    <a href="/blog" class="btn-arrow transparentbtn">View All <img class="fa fa-arrow-right hvr-icon arrow-icon" src='{{"/images/novagems-img/Arrow.svg" | absURL}}' alt="Arrow"></a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Why Choose Ends -->