<!-- Tools Resources Section -->
<div class="toolsection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 mb-4 text-center ">
                <p class="subheading tex-h get-Started"><b>Get Started</b></p>
                <h3 class="Start-being">Start being productive & grow your business<br class="breakpoint"> with Novagems</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12 mx-auto">
                <div class=" footer-newsletter footer-left">
                    <form id="start_being_productive">
                        <input type="email" id="start-being-productive" name="start-being-productive" placeholder="Enter your email address">
                        <input type="submit" value="Get Started for Free">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center topblocktxt">
                <div style="margin: 44px 0 -47px 0;">
                    <figure><img src='{{"/images/novagems-img/footer-img.png" | absURL}}' alt="footer-img"></figure>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Tools Resources Section -->