<div class="mt-5">
    <div class="container-fluid powerup">
        <div class="row ">
            <div class="col-md-12 text-center">
                <div class="col-sm-6 mx-auto">
                    <div class="powerup2">
                        <h3 class="Start-being">Power up with <br> Workforce Management System </h3>
                        <p class="get-Started">Security Guard Management Software</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>