<!-- Clock In / Out -->
<div class="dedicated-features-sec">
    <div class="container">
        <div class="row">
            <div id="tabs3">
                <div class="col-md-7 col-12">
                    <div>
                        <div id="tabs-11">
                            <figure><img src='{{"/images/novagems-img/home-page-slider/Custom-incident-Reports.svg" | absURL}}' alt="Custom-incident-Reports"></figure>
                        </div>
                        <div id="tabs-22">
                            <figure><img src='{{"/images/novagems-img/home-page-slider/Dashboard-Analytics.svg"  | absURL}}' alt="employee-scheduling"></figure>
                        </div>
                        <div id="tabs-33">
                            <figure><img src='{{"/images/novagems-img/home-page-slider/Smart-Response.svg" | absURL}}' alt="Smart-Response"></figure>
                        </div>
                        <div id="tabs-44">
                            <figure><img src='{{"/images/novagems-img/home-page-slider/Custom-incident-Reports.svg" | absURL}}' alt="employee-scheduling"></figure>
                        </div>
                        <div id="tabs-55">
                            <figure><img src='{{"/images/novagems-img/home-page-slider/GPS-tracking.svg" | absURL}}' alt="GPS-tracking"></figure>
                        </div>
                        <div id="tabs-66">
                            <figure><img src='{{"/images/novagems-img/home-page-slider/Dashboard-Analytics.svg" | absURL}}' alt="Dashboard-Analytics"></figure>
                        </div>
                    </div>

                </div>
                <div class="col-md-5 col-12">
                    <div>
                        <p class="subheading color4">Scheduling</p>
                        <h5>Task Management</h5>
                        <p>Best Employee Scheduling & Management Software that reduce Operational Cost and increases growth. Also Scalable with your growing speed</p>
                        <h5 class="open-features">Key Features</h5>
                    </div>
                    <ul class="tab-slaider" id="accordion3">
                        <li>
                            <a class="step circle active" href="#tabs-11">
                                <div class="tag">
                                    <img class="active-img" src='{{"/images/novagems-img/dot.svg" | absURL}}' alt="dot">
                                    <span class="title headimg-color">Custom Incident Reports</span>
                                </div>
                            </a>
                            <div class="addon fadein">
                                <p>mmediate reports</p>
                                <span>A dynamic system that captures incident reports with photographs and send them to the supervisors/clients. </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-22">
                                <div class="tag">
                                    <img class="active-img" src='{{"/images/novagems-img/dot.svg" | absURL}}' alt="dot">
                                    <span class="title headimg-color">Mobile Patrol</span>
                                </div>
                            </a>
                            <div class="addon">
                                <p>Create fuel-efficient routes</p>
                                <span>Let your guards know the optimal route for patrolling. You can also use it to create multiple routes and get a live view of men on work.</span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-33">
                                <div class="tag">
                                    <img class="active-img" src='{{"/images/novagems-img/dot.svg" | absURL}}' alt="dot">
                                    <span class="title headimg-color">Smart Dispatch</span>
                                </div>
                            </a>
                            <div class="addon">
                                <p>Respond immediately to incidents</p>
                                <span>Follow guards’ routes and send immediate help in case of accidents. You can also use it to set priority tasks for guards and make sure that no incident goes unnoticed. </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-44">
                                <div class="tag">
                                    <img class="active-img" src='{{"/images/novagems-img/dot.svg" | absURL}}' alt="dot">
                                    <span class="title headimg-color">Checkpoint Tours</span>
                                </div>
                            </a>
                            <div class="addon">
                                <p>See your guards’ tour logs.</p>
                                <span>Simplify your operations by adding convenience of tracking activities and routes. Automated monitoring lets you handle last-minute dispatches easily.</span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-55">
                                <div class="tag">
                                    <img class="active-img" src='{{"/images/novagems-img/dot.svg" | absURL}}' alt="dot">
                                    <span class="title headimg-color">GPS Tracking</span>
                                </div>
                            </a>
                            <div class="addon">
                                <p>Post new requirements easily</p>
                                <span>Reduce the dependence on manual supervision, automate scheduling and eliminate messy paperwork. Use the system to update staff about the new assignments and client-specific protocols. </span>
                            </div>
                        </li>

                        <li>
                            <a href="#tabs-66">
                                <div class="tag">
                                    <img class="active-img" src='{{"/images/novagems-img/dot.svg" | absURL}}' alt="dot">
                                    <span class="title headimg-color">Dashboard Analytics</span>
                                </div>
                            </a>
                            <div class="addon">
                                <p>Reports on your smartphone</p>
                                <span>Get daily, weekly, monthly reports on routes, incidents, scheduling, alarm responses on the go. Give your clients the confidence that their property is safe and monitored.</span>
                            </div>
                        </li>
                    </ul>
                    <div style="margin-left: 0px;">
                        <div class="footer-newsletter features-newsletter">
                            <input type="email" id="subscriberEmail" name="email" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background4" id="btnsunscribe">
                        </div>
                    </div>
                    <div class=" learn-More-btn hvr-underline-reveal">
                        <a href="/task-mangement" class="btn-arrow learn-More ">Learn More </a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>