<!-- Home Grid Section -->
<div class="homegrid gridsection">
    <div class="container mt-5 ">
        <div class="row">
            <div class="col-md-12 mb-5 mt-5 text-center">
                <p class="subheading tex-h color1">Why novagems</p>
                <h2 class="hero-h1">Customer success is our top priority</h2>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                <div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/support-24.svg" | absURL}}' alt="support-24"></figure>
                    <div>
                        <h5>24x7 support
                        </h5>
                    </div>
                    <p>Have queries? Be it day or night, our learned professionals will assist you! </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                <div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/free-trainings.svg" | absURL}}' alt="free-trainings"></figure>
                    <div>
                        <h5>Free Trainings
                        </h5>
                    </div>
                    <p>Infuse tech with your busines with our quick onboarding sessions. </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                <div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/Fast-implementation.svg" | absURL}}' alt="Fast-implementation"></figure>
                    <div>
                        <h5>Fast implementation
                        </h5>
                    </div>
                    <p>Quick, easy setup to keep you going fast. No lengthy implementation! </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-12 text-center phone-fast">
                <div>
                    <figure style="margin-bottom: 20px;"><img src='{{"/images/novagems-img/Custom-customization.svg" | absURL}}' alt="Custom-customization"></figure>
                    <div>
                        <h5>Custom Customization
                        </h5>
                    </div>
                    <p>We deliver solutions that work for you. Get them customized for your business.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8 ">
                <img src='{{"/images/novagems-img/customer-success.png" | absURL}}' alt="">
            </div>
            <div class="col-md-4">
                <img class="mb-3 phone-fast" src='{{"/images/novagems-img/Rectangle2.png" | absURL}}' alt="">
                <img class="phone-fast" src='{{"/images/novagems-img/Rectangle3.png" | absURL}}' alt="">
            </div>
        </div>
    </div>


    <div class=" container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="col-md-12 mt-5 mb-5 text-center ">
                    <p class="subheading tex-h color5">Industries</p>
                    <h2 class="hero-h1">Business using</h2>
                </div>
                <div class="col-md-12 input-p">
                    <div class=" mb-5">
                        <ul id="tabs-business" class="nav nav-tabs">
                            <li class="nav-item business-using"><a href="" data-target="#content-tab" data-toggle="tab" class="nav-link text-uppercase active tab-data">Employee Scheduling & Tracking </a></li>
                            <li class="nav-item business-using"><a href="" data-target="#engagement-tab" data-toggle="tab" class="nav-link text-uppercase ">Security Officers Workforce Management </a></li>
                        </ul>
                    </div>

                    <br>
                    <div id="tabsContent" class="tab-content">
                        <div id="content-tab" class="top-phone tab-pane fade active show">
                            <div class="row mb-4">
                                <div class=" col-md-3 col-6  text-center">
                                    <!-- <a href="restaurants"> -->
                                    <figure><img src='{{"/images/novagems-img/restaurants.svg" | absURL}}' alt="restaurants"></figure>
                                    <div>
                                        <p>Restaurants</p>
                                    </div>
                                    <!-- </a> -->
                                </div>
                                <div class="col-md-3 col-6  text-center">
                                    <figure><img src='{{"/images/novagems-img/hotels.svg" | absURL}}' alt="hotels"></figure>
                                    <div>
                                        <p>Hotels</p>
                                    </div>
                                </div>
                                <div class=" col-md-3 col-6  text-center phone-fast">
                                    <figure><img src='{{"/images/novagems-img/health-care.svg" | absURL}}' alt="health-care"></figure>
                                    <div>
                                        <p>Health Care</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-6 text-center phone-fast">
                                    <figure><img src='{{"/images/novagems-img/Professional-Services.svg" | absURL}}' alt="Professional-Services"></figure>
                                    <div>
                                        <p>Professional Services</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class=" col-md-3 col-6 text-center">
                                    <figure><img src='{{"/images/novagems-img/constructions.svg" | absURL}}' alt="constructions"></figure>
                                    <div>
                                        <p>Constructions</p>
                                    </div>
                                </div>
                                <div class=" col-md-3 col-6 text-center">
                                    <figure><img src='{{"/images/novagems-img/Call-Center.svg" | absURL}}' alt="Call-Center"></figure>
                                    <div>
                                        <p>Call Center</p>
                                    </div>
                                </div>
                                <div class=" col-md-3 col-6 text-center phone-fast">
                                    <figure><img src='{{"/images/novagems-img/tech-Companies.svg" | absURL}}' alt="tech-Companies"></figure>
                                    <div>
                                        <p>Tech Companies</p>
                                    </div>
                                </div>
                                <div class=" col-md-3 col-6 text-center phone-fast">
                                    <figure><img src='{{"/images/novagems-img/shift-based-workplaces.svg" | absURL}}' alt="shift-based-workplaces"></figure>
                                    <div>
                                        <p>Shift Based Workplaces</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="engagement-tab" class="top-phone tab-pane fade">
                            <div class=" row mb-4 engagement-tab-p">
                                <div class=" col-md-4 col-6 text-center">
                                    <figure><img src='{{"/images/novagems-img/law-enforcement.svg" | absURL}}' alt="law-enforcement"></figure>
                                    <div>
                                        <p>Security Companies <br>& Law Enforcement</p>
                                    </div>
                                </div>
                                <div class=" col-md-4 col-6 text-center">
                                    <figure><img src='{{"/images/novagems-img/Alarm-Monitoring.svg" | absURL}}' alt="Alarm-Monitoring"></figure>
                                    <div>
                                        <p>Alarm <br>Monitoring</p>
                                    </div>
                                </div>
                                <div class=" col-md-4 col-6 text-center phone-fast">
                                    <figure><img src='{{"/images/novagems-img/Facility-Management.svg" | absURL}}' alt="Facility-Management"></figure>
                                    <div>
                                        <p>Facility Management</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 mb-5 ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-12  mx-auto ">
                    <div class=" footer-newsletter footer-left ">
                        <form id="book_a_demo">
                            <input type="email" id="book-a-demo" name="book-a-demo" placeholder="Enter your email address">
                            <input type="submit" value="Book a Demo">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- Home Grid Section Ends -->