{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="checkpoint-tours-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1">Next gen security <span class="color5">guard technology </span>that automates patrolling. </h1>
                            <p>Specifically designed to assign accountability. Reduces the chances of thefts, vandalism, corporate espionage, and other threatening incidents around a facility.</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Check-Point-Tour.png" alt="Check-Point-Tour">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center mt-5">
                    <h2 class="color4">Get a complete audit trail of guards</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Check-Points-Tours/CheckpointTours-2.png" alt="CustomForms-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>NFC and QR Checkpoints</h5>
                    <p class="subheading color2">Add the power of NFC and QR codes in patrolling</p>
                    <p>Real time guard tour system that ensures guards are duly monitoring and patrolling the location, events, or assets. Know their positions when they scan NFC and QR codes from the checkpoints. The information is transmitted wirelessly
                        to your and client’s phone in real time. These tags cannot be copied or cloned and do not need cells to run. They are compatible with any android or iOS device and significantly improve guarding capabilities at all sensitive properties.
                    </p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Photo and GPS Proof</h5>
                <p class="subheading color3">Automatically captures photographs of the site. </p>
                <p>Get tangible proofs when you need them. Track your patrolling party with a real time flow of live data from their devices. Every move that a guard makes is time stamped and Geo tagged by a supporting photograph of the location. It reduces
                    the dependency on verbal communication regarding a patrol. You can share real time data with your clients who can sit peacefully knowing that their acids are guarded 24/7.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Check-Points-Tours/CheckpointTours-2.png" alt="CheckpointTours-2"></figure>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Check-Points-Tours/CheckpointTours-3.png" alt="CheckpointTours-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Offline Tours</h5>
                <p class="subheading color7">Works even when a device is not connected to Internet</p>
                <p>Bad network or low Internet connectivity can no longer hamper your security business. Offline tours work smoothly and capture all the necessary information like QR codes scanning and GPS proofs. The details are uploaded true the cloud-based
                    system as soon as connectivity restores. Gives you the power to guard even the remotest of the places without having to worry whether the job will be done perfectly or not. Increases the efficiency of your operations and makes it easy
                    to monitor your officers.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Automatic Tour Report</h5>
                <p class="subheading color2">Say goodbye to manual reporting</p>
                <p>Organise guard tours and collect data remotely to ensure that garden officers perform their work with professionalism and accuracy. Save time and improve efficiency office staff stop get relevant information at periodic intervals to increase
                    accessibility for your company. Tour reports reduce the risk of theft, burglary, or vandalism while giving you data from various sources in a single window. It ensures back you understand the effectiveness of the work done by your
                    employees and take appropriate measures wherever required.</p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Chat_mobile">
                            <input type="email" id="Chat-mobile" name="Chat-mobile" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Check-Points-Tours/CheckpointTours-4.png" alt="CheckpointTours-4"></figure>
            </div>
        </div>
    </div>
    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}