{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="scheduling-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top">
                <div class="col-lg-7 col-md-7 col-12 ">
                    <div>
                        <div>
                            <h1 class="hero-h1">Increase <span class="color5">Workplace Efficiency </span>. Manage your Staff Digitally & Improve Client Experience.</h1>
                            <p>Conflict free schedule management that helps you increase your staff’s performance and your credibility in the industry.</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Schedule-Management.png" alt="Schedule-Management">
                </div>
            </div>
        </div>


        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h2 class="color4">Keep everybody on the same page</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Scheduling/Schedule-1.png" alt="Schedule-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Shift Planning</h5>
                    <p class="subheading color2">Fast & reliable shift planning assistance</p>
                    <p>Effective workplaces are built on strong systems for employee management. In most organizations, staff works round the clock. Relying on manual processes or excel sheets to manage their shifts can easily turn into an administrative
                        nightmare. The shift planning tool of Novagems gives you the control to easily manage these fluctuations in the work schedule. Administrators can balance schedules, create rules, auto-approve requests, and change number of people
                        working in a shift automatically to save time and add flexibility in operations. With shift planning feature, they can also allocate people to work on important projects and clear the backlogs in real time.</p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="custom_incident_report">
                                <input type="email" id="custom-incident-report" name="custom-incident-report" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h5>Open Shifts</h5>
                <p class="subheading color3">Compatible technology to fill open shifts effortlessly </p>
                <p>Once you have created a shift planning schedule, the feature enables you to fill open shifts effortlessly. It maximizes productivity by reducing the time spent of managing the workforce and improves the efficiency of individual departments.
                    The feature automatically notifies staff members who meet the job criteria and reduces the overtime costs for the company. It also flags any scheduling actions that violate any pre-defined rules to give you the ease of maintaining
                    the compliance. The employees can respond to open shifts through the app on their smartphones. In some cases, businesses also use this feature to allow their employees to sign up on open shifts or even swap their shifts to get a control
                    over their working hours.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Check_Point_Tours">
                            <input type="email" id="Check-Point-Tours" name="Check-Point-Tours" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Scheduling/Schedule-2.png" alt="Schedule-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Scheduling/Schedule-3.png" alt="Schedule-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Shift Time & Cost Analysis</h5>
                <p class="subheading color7">Digital analysis of time & cost, engineered for excellence </p>
                <p>This cloud-based feature cuts the risks associated with overstaffed shifts, shorthanded Rush timings, and less-than-acceptable performance. It not only builds, fills, and manages best-fit schedules for your company, but also throws open
                    a time and cost analysis to give you measurable financial metrics such as capital saved as a result of timely decisions. It considers various sets of options, identifies impacts and indicators, predicts the results over a period and
                    helps you to consider if any changes are required in the current way of running your operations. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="GPS_Tracking">
                            <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Shift Templates</h5>
                <p class="subheading color2">Advanced templates that make scheduling easy</p>
                <p>Useful when creating schedules, it brings an order to creating regular shifts. This feature gets the work done with efficiency and enables your staff to meet project deadlines. With the numerous shift templates already in the software,
                    you can save hours in allocating work. The feature is easy to customize, and it also assists in reducing stress levels of an administrator to a minimum. You can now say goodbye to manual shift tracking and create schedules to improve
                    accuracy.
                </p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2">
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Scheduling/Schedule-4.png" alt="Schedule-4"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Scheduling/Schedule-5.png" alt="Schedule-5"></figure>
            </div>
            <div class="col-md-6">
                <h5>Instant Employee Replacement</h5>
                <p class="subheading color7">Committed to find immediate replacement for missing employees</p>
                <p>Easy to use interface makes it easy to reschedule employees and adhere to efficient time management at workplace. The feature gives you powerful task management tools that make staff swapping, workflow analyzing, and schedule sharing easy.
                    It brings all the described benefits in addition to sending an alert to supervisor if an employee has not clocked in and, if needed, means to quickly resolve the situation. The automation of work scheduling maximizes productivity and
                    manages the costs by optimizing the available staff.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>

    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}