{{ define "main" }}
<!-- schedule Section -->
<div style="background-color: #FFF;">
    <div>
        <div class="restaurants-bg2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12 mt-5">
                        <div>
                            <h1 class="hero-h1">Increase <span class="color5">Workplace Efficiency </span>. Manage your Staff Digitally & Improve Client Experience.</h1>
                            <p>Conflict free schedule management that helps you increase your staff’s performance and your credibility in the industry.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 mt-5">
                        <figure><img src="/images/novagems-img/restaurants/restaurants-header1.svg" alt="restaurants-header1"></figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 mx-auto pt-2 pb-5">
                    <div class="footer-newsletter">
                        <form id="get-started-for-free">
                            <input type="email" id="email" name="email" placeholder="Enter your email address">
                            <input class="home-btn" type="submit" value="Get Started for Free">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid example1-restaurants">
            <div class="container mt-5">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5>Open Shifts</h5>
                        <p class="subheading color3">Compatible technology to fill open shifts effortlessly </p>
                        <p>Once you have created a shift planning schedule, the feature enables you to fill open shifts effortlessly. It maximizes productivity by reducing the time spent of managing the workforce and improves the efficiency of individual
                            departments. The feature automatically notifies staff members who meet the job criteria and reduces the overtime costs for the company. It also flags any scheduling actions that violate any pre-defined rules to give you the
                            ease of maintaining the compliance. The employees can respond to open shifts through the app on their smartphones. In some cases, businesses also use this feature to allow their employees to sign up on open shifts or even swap
                            their shifts to get a control over their working hours.</p>
                        <div class="mt-4 mb-5">
                            <div class="footer-newsletter features-newsletter">
                                <form id="Check_Point_Tours">
                                    <input type="email" id="Check-Point-Tours" name="Check-Point-Tours" placeholder="Enter your email address">
                                    <input type="submit" value="Get Started for Free" class="background3">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <figure><img src="/images/novagems-img/Scheduling/Schedule-2.png" alt="Schedule-2"></figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="hardcore-wrap">
            <img class="hardcore-wrap-img" src="/images/novagems-img/restaurants/restaurants.png" />
            <div class="container mt-5">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5>Open Shifts</h5>
                        <p class="subheading color3">Compatible technology to fill open shifts effortlessly </p>
                        <p>Once you have created a shift planning schedule, the feature enables you to fill open shifts effortlessly. It maximizes productivity by reducing the time spent of managing the workforce and improves the efficiency of individual
                            departments. The feature automatically notifies staff members who meet the job criteria and reduces the overtime costs for the company. It also flags any scheduling actions that violate any pre-defined rules to give you the
                            ease of maintaining the compliance. The employees can respond to open shifts through the app on their smartphones. In some cases, businesses also use this feature to allow their employees to sign up on open shifts or even swap
                            their shifts to get a control over their working hours.</p>
                        <div class="mt-4 mb-5">
                            <div class="footer-newsletter features-newsletter">
                                <form id="Check_Point_Tours">
                                    <input type="email" id="Check-Point-Tours" name="Check-Point-Tours" placeholder="Enter your email address">
                                    <input type="submit" value="Get Started for Free" class="background3">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <figure><img src="/images/novagems-img/Scheduling/Schedule-2.png" alt="Schedule-2"></figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="hardcore-wrap">
            <img class="hardcore-wrap-img" src="/images/novagems-img/restaurants/restaurants1.png" />
            <div class="container mt-5">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <figure><img src="/images/novagems-img/Scheduling/Schedule-2.png" alt="Schedule-2"></figure>
                    </div>
                    <div class="col-md-6">
                        <h5>Open Shifts</h5>
                        <p class="subheading color3">Compatible technology to fill open shifts effortlessly </p>
                        <p>Once you have created a shift planning schedule, the feature enables you to fill open shifts effortlessly. It maximizes productivity by reducing the time spent of managing the workforce and improves the efficiency of individual
                            departments. The feature automatically notifies staff members who meet the job criteria and reduces the overtime costs for the company. It also flags any scheduling actions that violate any pre-defined rules to give you the
                            ease of maintaining the compliance. The employees can respond to open shifts through the app on their smartphones. In some cases, businesses also use this feature to allow their employees to sign up on open shifts or even swap
                            their shifts to get a control over their working hours.</p>
                        <div class="mt-4 mb-5">
                            <div class="footer-newsletter features-newsletter">
                                <form id="Check_Point_Tours">
                                    <input type="email" id="Check-Point-Tours" name="Check-Point-Tours" placeholder="Enter your email address">
                                    <input type="submit" value="Get Started for Free" class="background3">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>





    </div>

</div>

{{end}}