{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="chat-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top ">
                <div class="col-lg-7 col-md-7 col-12">
                    <div>
                        <div>
                            <h1 class="hero-h1"> <span class="color5">Collaborate </span> & communicate <span class="color5">efficiently </span> to build successful work environment and culture.</h1>
                            <p>A strong work messaging feature for real time communication. Eliminate unproductive meetings time and increase the staff’s productivity. </p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/Chat-and-communication.png" alt="Chat-and-communication">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h2 class="color4">Save Time from unnecessary emails and meetings</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/Chats/Chat-1.png" alt="Chat-1"></figure>
                </div>
                <div class="col-md-6">
                    <h5>Broad Cast Message</h5>
                    <p class="subheading color2">Guarantees a direct response</p>
                    <p>Send direct message to several team members at once. Accelerate the flow of communication by broadcasting important messages. A cost-effective and time-saving way to convey task updates, project status, and announcements with ease.
                        Gives you the convenience of immediacy of personal text messaging with the effectiveness of a one-to-one conversation. Indirect benefits include better engagement with customers and increase revenue. The recipients can be loaded
                        from an external directory or selected from the contact list.</p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2" id="btnsunscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>1 To 1 & Group Chats</h5>
                <p class="subheading color3">Expand instant messaging to whole group at once</p>
                <p>Cut down the time of communication by coordinating work online. Let your team discuss the topics of importance, and even help each other without leaving their desk. Reduce the need for face-to-face meetings and increase the efficiency
                    of workers. Group chats leverage technology and allow teams to take instant decisions while sitting at remote locations. It also reduces dependency on long, extensive emails to get the work done. This Novagems feature also makes it
                    easy to share documents and files in a secure environment. </p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Chats/Chat-2.png" alt="Chat-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Chats/Chat-3.png" alt="Chat-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>Share Docs & Files</h5>
                <p class="subheading color7">Don't just communicate! Make your conversations resourceful.</p>
                <p>Digital communications have moved on from simple texting. The messengers of today are loaded with features that facilitate data sharing. Our task management system helps you communicate with team members by sharing documents and files
                    with them. You can keep track of your chat threads and documents shared by the teammates. Forget attaching files to emails. Drag, drop, and send!</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Mobile & Desktop App</h5>
                <p class="subheading color2">Never stay out of touch</p>
                <p>Reach your staff anytime. Know what is happening at your office from anywhere. Manage the schedules, get uninterrupted access to files, review tasks, and break distance barriers. You can also collaborate your team to create presentations
                    or work on new pitches for customers. Increased business accessibility reduces time spent on manual tasks, thus saving you both time and money. The mobile and desktop app integration lets you work on the go. Works on iPhone, iPad,
                    Android, Mac, and Windows. </p>
                <div class="mt-4 mb-1">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Chat_mobile">
                            <input type="email" id="Chat-mobile" name="Chat-mobile" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background2" id="btnsunscribe">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/Chats/Chat-4.png" alt="Chat-4"></figure>
            </div>
        </div>
    </div>
    <div>
        {{- partial "security-guard-management-software.html" . -}}
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>

    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}