{{ define "main" }}
<!-- schedule Section -->
<div style="background-color: #FFF;">
    <div>
        <div class="container thank-you">
        </div>
    </div>
    <div class="container text-center ">
        <h1 class="hero-h1">
            Thank you for filling out the form.
        </h1>
        <h5>We will be in touch with you soon 🙂</h5>
        <div class="go-back-to-homepage py-5"><a href="/" class="btn-arrow transparentbtn">Go back to homepage</a></div>

    </div>


</div>
<script>
    gtag('event', 'conversion', {
        'send_to': 'AW-717143903/ExzLCNS5uY0DEN_--tUC'
    });
</script>

{{end}}