{{ define "main" }}
<!-- schedule Section -->
<div>
    <div class="gps-geofence-bg2">
        <div class="container example">
            <div class="row header-subwrapper-top ">
                <div class="col-lg-7 col-md-7 col-12 ">
                    <div>
                        <div>
                            <h2 class="hero-h1"><span class="color5">Always Know </span>Where Your Employees Are. <span class="color5"> Defend Your Business</span> Against False Claims.</h2>
                            <p>Combat gaps in presence of an employee. Track your staff movements when they are clocked in. Ensure last mile delivery.</p>
                        </div>
                        <div class="row my-5">
                            <div class="col-lg-9 col-md-11 col-12">
                                <div class="footer-newsletter">
                                    <form id="get-started-for-free">
                                        <input type="email" id="email" name="email" placeholder="Enter your email address">
                                        <input class="home-btn" type="submit" value="Get Started for Free">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-1 col-12"></div>
                        </div>
                        <div class="mt-5 mb-5">
                            {{- partial "clients.html" . -}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-12 p-0 img-iped-head all-img-left">
                    <img src="/images/novagems-img/home-page-slider/GPS-Track-Geofence.png" alt="GPS-Track-Geofence">
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <h2 class="color4">Improve productivity and systemize your workforce</h2>
                </div>
                <div class="col-md-6">
                    <figure><img src="/images/novagems-img/GPS-Geofence/GPS&Geofence-1.png" alt="GPS&Geofence-1"></figure>
                </div>
                <div class="col-md-6 ">
                    <h5>Geo fencing</h5>
                    <p class="subheading color2">Improve your logistics and delivery service</p>
                    <p>This latest Novagems tech helps to set up virtual boundaries and put-up cybernetic boundaries for your staff. It prevents vehicle thefts, mitigate expenses and adds additional security by tracking vehicles and personnel in real time.
                        Geo fenced areas are marked with time stamps to give a complete account of how an agent or vehicle moved in the field. The alerts can be used to ensure adherence to schedule and enhance your business’s reliability in the industry.</p>
                    <div class="mt-4 mb-5">
                        <div class="footer-newsletter features-newsletter">
                            <form id="GPS_Tracking">
                                <input type="email" id="GPS-Tracking" name="GPS-Tracking" placeholder="Enter your email address">
                                <input type="submit" value="Get Started for Free" class="background2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">

            <div class="col-md-6">
                <h5>Live Tracking</h5>
                <p class="subheading color3">Manage your fleet from a smartphone</p>
                <p>Live track your fleet and see its movements in real time. Make sure that the travelling route and time match with each other. Apply security measures if an agent or driver idles on duty. Get full transparency, monitor over speeding, reduce
                    unauthorized use, and get added safety on critical deliveries. Save fuel and undue expenses by optimizing vehicle performance through geo fencing. The Integrated system keeps an eye on operations where you can’t be physically present.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Mobile_Patrol">
                            <input type="email" id="Mobile-Patrol" name="Mobile-Patrol" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background3">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/GPS-Geofence/GPS&Geofence-2.png" alt="GPS&Geofence-2"></figure>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure><img src="/images/novagems-img/GPS-Geofence/GPS&Geofence-3.png" alt="GPS&Geofence-3"></figure>
            </div>
            <div class="col-md-6">
                <h5>GPS validation for completed tasks</h5>
                <p class="subheading color7">Assess ‘at work’ behavior of staff</p>
                <p>Validate an employee’s list of completed tasks via GPS location. Give your business an edge over competition by making more money. Serve more customers daily with a better dispatch operation. Monitor and assess each employee on time spent
                    at each job. Get automatic updates and stay on the top with better productivity. Know at every moment where your fleet is and send help immediately in case of any unwarranted incidents. Minimize the fuel expenses and ensure a possible
                    theft recovery.</p>
                <div class="mt-4 mb-5">
                    <div class="footer-newsletter features-newsletter">
                        <form id="Smart_Response">
                            <input type="email" id="Smart-Response" name="Smart-Response" placeholder="Enter your email address">
                            <input type="submit" value="Get Started for Free" class="background7">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <div class="container-fluid powerup">
            <div class="row ">
                <div class="col-md-12 text-center">
                    <div class="col-sm-6 mx-auto">
                        <div class="powerup2">
                            <h1 class="Start-being">Power up with <br> Workforce Management System </h1>
                            <p class="get-Started">Security Guard Management Software</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{- partial "cta.html" . -}}
    </div>
    <div>
        {{- partial "resources.html" . -}}
    </div>

</div>


{{end}}